#Special {
    width: 50%;
    height: 90%;
    position: absolute;
    left: 25%;
    top: 10%;
    background-color: rgb(255, 255, 255);
    overflow:auto;
    display: none;
}
body {
    background-color: #f9ebd7;
    font-size: 20px; }   
p { 
    text-align: center;}
.large-text{
    font-size: 300%;
}
ul {
    width: 11em;
    margin: 0;
    margin-left: calc(50% - 6.5em);
    font-size: 125%;
} 
ol {
    width: 10em;
    margin: 0;
    margin-left: calc(50% - 5.75em);
    font-size: 125%;
}
.link{
    color: #0000FF;
}